In [61]:
import os
import pandas as pd

netflix_file = os.path.join('Resources','netflix_titles.csv')
metadata_file = os.path.join('Resources','movies_metadata.csv')
credit_file = os.path.join('Resources','credits.csv')

In [60]:
metadata_df = pd.read_csv(metadata_file, dtype = 'str')

In [43]:
metadata_sub_df = metadata_df[['budget', 'revenue', 'id', 'original_title', 'title']]

In [44]:
metadata_sub_df.head()

,budget,revenue,id,original_title,title
0,30000000,373554033,862,Toy Story,Toy Story
1,65000000,262797249,8844,Jumanji,Jumanji
2,0,0,15602,Grumpier Old Men,Grumpier Old Men
3,16000000,81452156,31357,Waiting to Exhale,Waiting to Exhale
4,0,76578911,11862,Father of the Bride Part II,Father of the Bride Part II

In [45]:
for record in list(metadata_sub_df['budget'].unique()):
    print(record)

30000000
65000000
0
16000000
60000000
58000000
35000000
62000000
44000000
98000000
52000000
16500000
4000000
30250000
50000000
3600000
12000000
18000000
29500000
11000000
10000000
19000000
20000000
33000000
55000000
6000000
15000000
45000000
3500000
8000000
900000
38000000
8169363
47000000
14000000
3000000
7000000
24000000
72000000
1300000
7500000
13365000
25000000
40000000
17000000
31000000
28000000
100000000
2000000
53000000
27000000
90000000
1500000
500000
2
22000000
150000
8
42000000
175000000
2800000
2500000
21000000
27000
700000
5000000
10500000
120
6
5500000
4800000
34000000
400000
32000000
32
6500000
46000000
23000000
11500000
115000000
63000000
45000
26000000
17080000
3200000
13000000
70000000
6900000
57000000
9000000
85000000
13500000
800000
30
48000000
7400000
12500000
200000
1488423
2600000
6244087
9300000
33500000
80000000
220000
275000
25530000
75000000
92000000
1800000
50
1000000
54000000
36000000
2962051
1850000
4500000
2540800
2723903
2479000
325000
2068000
520000
2883848
878000
375000
2238813
2777000
1752000
839727
1400000
1688000
1288000
1365000
2033000
1020000
609000
5400000
1
226408
3180000
1073000
114000
4
67000000
2300000
2900000
812000
8200000
2400000
14500000
1200000
49000000
3705538
6788000
4940939
935000
645180
18500000
350000
2200000
31500000
32350000
806948
6400000
16400000
829000
3800000
25710
14600000
1120175
2280000
730000
5100000
14400000
1900000
1746964
240000
393750
2535000
13200000
20500000
116000000
68000000
73000000
160000000
125000000
250000
37000000
105000000
200000000
110000000
147773
29000000
67000
12716953
130000000
180000
66000000
71000000
140000000
60000
379000
1250000
1180280
1950000
1644736
1344000
2100000
750000
1650000
910000
343000
3900000
225000
550000
300000
10700000
95000000
92620000
858000
1227401
160000
144
37931000
4986
10100000
13800000
7200000
111000
90000
2135161
250
4258000
1590000
1103000
12000
1100000
947000
120000000
672000
8045760
17900000
17500000
113
94
85000
4700000
600000
7300
5800000
1700000
1350000
4550000
6000
1453000
786675
11791
196000
39000000
355000
291000
417000
150000000
1530000
34200000
170000000
21500000
450000
320000
75000
1884000
24500000
30000
4300000
6800000
340000
560000
64000000
6200000
689665
950000
463455
7362000
26500000
154790
51000000
483103
660000
22700000
40600000
25485000
135000000
8272296
133000
312000
650000
133000000
360000
82000000
25
24554
1661530
11700000
640000
41300000
2053648
24500
50000
65000
777000
3750000
1805000
1680000
2700000
927262
4200000
8700000
8500000
4653000
43000000
3700000
980000
83000000
103000000
2111250
127500000
923000
780000
10000
100000
12305523
1600000
1821052
76000000
2410000
68
2142000
1978000
107
84000000
62000
3100000
12800000
1580000
5115000
328000
63600000
1814462
123000000
87000000
7920000
17700000
21150000
94000000
31115000
52500000
5760000
102000000
6250000
2365000
2686000
270000
130000
137000000
46630000
3512454
12300000
22500000
18
93000000
20000
787000
35000
9400000
725000
25000
424
810000
1012153
850000
107000000
19800000
22997992
344
555000
1558000
1202007
120000
59000000
7
106000
2278264
139000000
860000
5
1934000
5860000
15600000
40000
230000
15300000
78000000
226188
28
145786
41000000
1750000
4100000
9285469
79000000
70000
110
3300000
25300000
4520000
1640000
56000000
3500159
5037000
250050
35866397
1596010
5300000
12600000
575
3520000
151000
3005000
7800000
2750000
658000
210000
9250000
1355000
4361898
5952000
5200000
118
8847685
6100000
7700000
11400000
9500000
18000
795000
17010000
530000
64000
864000
886000
2650000
92000
531374
439000
1152000
46000
455000
8394751
1135654
19250000
12
145000000
5600000
3684600
27500000
5900000
134000
1070000
783000
4638783
813000
3716946
66500
3352254
195845
1271000
2090000
1114000
424000
802000
14320000
340
1645000
74500000
4414000
1880006
2970000
1455000
191051
7000
218
165000000
155000000
19885552
525000
17311
172000
212000
245000
546883
217000
243000
305177
2627000
1243000
258
3400000
3768785
5019770
146000
185000
15000
280379
115
1377800
19000
747000
2175000
478375
760000
257000
48740
300
1065000
33000
125000
2888030
891000
1143000
998000
25697387
2079000
16700000
4667404
24665810
8256269
12806000
800
334077
3950000
6854500
27440000
686
179000
229
502318
18339750
112
550
1055000
500
6105121
825000
140000
5985
1380000
2995000
9200000
113000000
88000000
8250000
19500000
1920000
2515000
8800000
132000000
140
126000000
187000
74050
4490331
679000
16398
10284523
600
95
14200000
63500
474700
180000000
207000000
169000
4750000
37665000
171200
53000
12899867
475000
15500000
1601792
558000
2000
210000000
9600000
82500000
270000000
923
72500000
2160000
4439832
662141
10
1549000
76000
2500
11
149000000
150
16800000
19400000
5000
86000000
994000
818418
275
61000000
3000
19610000
315000
60795000
258000000
2380000
300000000
10200000
16000
230400
2224000
852510
51500000
7300000
420000
3
190000
9100000
19600000
8300000
293000
68000
8376800
2349352
22500
185000000
225000000
14100000
4600000
222000
89000
259000
103000
152000
9364800
1182273
80341000
79000
4002313
25100000
10800000
4250000
4185000
41677699
11715578
9750000
7275000
78146652
280
364000
31165200
6300000
5750000
42
1066480
36500000
250000000
66000
2075374
855000
15238800
6700000
88000
75
5060730
23600000
450
970000
736
14700000
590235
130
762
1089360
5700000
170000
237000000
425000
97250400
108
210
2225000
235000
110125
796442
373000
580000
5641880
2011799
967686
3120375
1987650
6153120
383000
69000000
117000000
12902809
322000
21800000
700
823258
290
625000
7600000
4400000
7500
2270000
200
15400000
262000
260000000
1948000
112000000
271323
4668069
163000000
650
1119000
10600000
93
50200000
10400000
592
13000
3167000
7347125
10831173
14734000
32500000
9780000
380000000
4317946
3906840
14350531
135000
2705100
9500
195000000
49900000
2100
337
4090000
134005
2902660
410000
15774948
3837625
784170
155000
1180000
3850000
220000000
17000
61733
26400000
56000
584000
19100000
8000
1353676
3062000
2361000
45202
9000
717000
5650000
2391200
4798235
325
930000
209000000
230
6600000
114
25412760
4466000
12468389
215000000
32671
1552334
8978040
175000
35
100
6965576
18200000
16600000
797681
44500000
1951964
/ff9qCepilowshEtG2GYWwzt2bs4.jpg
8900000
28000
4275000
9023199
26350000
4437508
5773100
3730500
2840000
13650000
54166
3550000
25500000
13400000
348164
86
260
1970000
431274
7100000
3860000
34000
190000000
31192
2640000
3774400
125687
255000000
6075000
520
859314
2177870
12400000
27220000
4900000
14000
1052753
3250000
8510000
80000
10300000
1104000
1030064
1203000
2159280
6218100
3500
2050000
110000
1138340
39200000
1340000
4620000
1085400
567000
1150000
10735974
840000
12516654
2017928
6844180
7677765
13640000
33157
313411
2511000
13300000
5112027
10916704
90
290000
8358460
1525000
460000
10900000
318000
239000
178000000
12700000
19700000
4357373
4141459
3335702
23000
21169000
12250000
4161012
10750000
176000003
15
325927
49300000
58800000
33
176199
89
295000
4411044
914
9
20
22361
6629445
10400
70
7750000
1720666
8806000
1390000
1875600
117
1550000
1059300
937000
81000000
127000000
495000
380000
2450000
400
10495000
8400000
11340000
485000
401000
9272437
245000000
280000000
230000000
27563396
2763806
260000
74000
47000
421496
2219684
116000
365000
2150000
209595
3780000
1600
11087
176000
670
1000
415000
517000
2620000
447524
1131974
97
9700000
1816720
17
945000
98
1490000
6350000
118399
50100000
74000000
1645885
3510000
7720000
4410000
978000
3673315
/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
1365068
1432960
11800000
237000
336029
108000000
630019
13360000
483719
820000
156660
980385
5579750
5510000
123690
5485
1823152
10920000
2745000
96
445000
18550417
104002432
66260
15719
3150000
446000
750
14800000
2137000
232000
112000
2691570
8100000
6843500
5940000
2489400
310000
26700
39000
88
1230000
70200000
11180
80
24720400
1556288
25496629
12560000
119567
11097000
8555500
23430
25784494
480000
2907868
913000
191000
17973
747487
3196621
2215773
515788
1379375
3910000
12796917
2240000
11930000
27878
16855
15887
33500
25771
27715
31386
58000
62500
99000000
115000
390000
2023012
4000
2742651
167
1635794
23400000
2250000
3383700
224056
5290000
5904067
1050255
598500
768
2556455
5532496
3849796
/zaSf5OG7V8X8gqFvly88zDdRm46.jpg
32213
201164
2480421
722083
11000
884130
10721568
1730000
264000
1520000
478000
60
85
143149
5990000
9370000
13100000
4170000
292
177
60720000
121
1150118
3230939
1333333
2915739
440141
3650000
375581
717
608000
51237
5070773
7900000
620000
704460
137731
412000
8575000
3537415
4881000
37
430000
370000
3347850
2023920
144000000
2004384
996519
5980000
349999
5069632
521873
85876
522360
354000
1220000
5455000
4180000
8600000
9900000
959300
9804690
566000
24000
8820000
835000
45
560
4531653
5210000
18700000
15050000
50663
8138338
838403
4330000
2115000
762241
6229577
2791874
1488410
5005600
482910
1509896
12823507
2494400
1446950
126000
220093
1949120
35055
36501
12156348
873000
21363000
346500
11178
204956
11909
1999000
12003848
97000000
3892200
22800000
4696772
42500
50234
6277106
6907750
837000
2980000
32745300
625
42000
1531604
940000
41000
17820000
7075038
1050000
916000
3900
12200000
65700
64200
707503
8620000
16670000
22900000
8292000
2153912
1282545
82000
1500
152000000
197471676
6727000
2457000
850
7200
8520000
2073816
2196531
1105736
273428
5402000
1689118
3417000
25868826
1254040

In [46]:
len(metadata_sub_df)

45466

In [47]:
drop_indices = metadata_sub_df['budget'].loc[metadata_sub_df['budget'].str.match('/')].index
clean_metadata_sub_df = metadata_sub_df.drop(drop_indices, axis = 0)

In [51]:
drop_indices

Int64Index([19730, 29503, 35587], dtype='int64')

In [52]:
len(clean_metadata_sub_df)

45463

In [53]:
clean_metadata_sub_df['budget'] = pd.to_numeric(clean_metadata_sub_df['budget'])

In [55]:
clean_metadata_sub_df['revenue'] = pd.to_numeric(clean_metadata_sub_df['revenue'])

In [56]:
clean_metadata_sub_df.dtypes

budget              int64
revenue           float64
id                 object
original_title     object
title              object
dtype: object

In [73]:
output_path = os.path.join('Resources','movie_metadata_transformed.csv')
clean_metadata_sub_df.to_csv(output_path, index = False)

In [74]:
clean_metadata_sub_df.tail()

       budget  revenue      id       original_title                title
45461       0      0.0  439050              رگ خواب               Subdue
45462       0      0.0  111109  Siglo ng Pagluluwal  Century of Birthing
45463       0      0.0   67758             Betrayal             Betrayal
45464       0      0.0  227506  Satana likuyushchiy     Satan Triumphant
45465       0      0.0  461257             Queerama             Queerama

In [66]:
credit_df = pd.read_csv(credit_file)

In [110]:
credit_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [111]:
credit_df.dtypes

cast    object
crew    object
id       int64
dtype: object

In [112]:
test_json = (credit_df['cast'][0])

In [113]:
test_json

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [114]:
import json

In [115]:
test_json = test_json.replace('[', '')
test_json = test_json.replace(']', '')

In [116]:
test_json = test_json.replace('\'', '"')

In [117]:
test_json

'{"cast_id": 14, "character": "Woody (voice)", "credit_id": "52fe4284c3a36847f8024f95", "gender": 2, "id": 31, "name": "Tom Hanks", "order": 0, "profile_path": "/pQFoyx7rp09CJTAb932F2g8Nlho.jpg"}, {"cast_id": 15, "character": "Buzz Lightyear (voice)", "credit_id": "52fe4284c3a36847f8024f99", "gender": 2, "id": 12898, "name": "Tim Allen", "order": 1, "profile_path": "/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg"}, {"cast_id": 16, "character": "Mr. Potato Head (voice)", "credit_id": "52fe4284c3a36847f8024f9d", "gender": 2, "id": 7167, "name": "Don Rickles", "order": 2, "profile_path": "/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg"}, {"cast_id": 17, "character": "Slinky Dog (voice)", "credit_id": "52fe4284c3a36847f8024fa1", "gender": 2, "id": 12899, "name": "Jim Varney", "order": 3, "profile_path": "/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg"}, {"cast_id": 18, "character": "Rex (voice)", "credit_id": "52fe4284c3a36847f8024fa5", "gender": 2, "id": 12900, "name": "Wallace Shawn", "order": 4, "profile_path": "/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg"}, {"cast_id": 19, "character": "Hamm (voice)", "credit_id": "52fe4284c3a36847f8024fa9", "gender": 2, "id": 7907, "name": "John Ratzenberger", "order": 5, "profile_path": "/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg"}, {"cast_id": 20, "character": "Bo Peep (voice)", "credit_id": "52fe4284c3a36847f8024fad", "gender": 1, "id": 8873, "name": "Annie Potts", "order": 6, "profile_path": "/eryXT84RL41jHSJcMy4kS3u9y6w.jpg"}, {"cast_id": 26, "character": "Andy (voice)", "credit_id": "52fe4284c3a36847f8024fc1", "gender": 0, "id": 1116442, "name": "John Morris", "order": 7, "profile_path": "/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg"}, {"cast_id": 22, "character": "Sid (voice)", "credit_id": "52fe4284c3a36847f8024fb1", "gender": 2, "id": 12901, "name": "Erik von Detten", "order": 8, "profile_path": "/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg"}, {"cast_id": 23, "character": "Mrs. Davis (voice)", "credit_id": "52fe4284c3a36847f8024fb5", "gender": 1, "id": 12133, "name": "Laurie Metcalf", "order": 9, "profile_path": "/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg"}, {"cast_id": 24, "character": "Sergeant (voice)", "credit_id": "52fe4284c3a36847f8024fb9", "gender": 2, "id": 8655, "name": "R. Lee Ermey", "order": 10, "profile_path": "/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg"}, {"cast_id": 25, "character": "Hannah (voice)", "credit_id": "52fe4284c3a36847f8024fbd", "gender": 1, "id": 12903, "name": "Sarah Freeman", "order": 11, "profile_path": None}, {"cast_id": 27, "character": "TV Announcer (voice)", "credit_id": "52fe4284c3a36847f8024fc5", "gender": 2, "id": 37221, "name": "Penn Jillette", "order": 12, "profile_path": "/zmAaXUdx12NRsssgHbk1T31j2x9.jpg"}'

In [122]:
(eval(test_json))

({'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'})

In [123]:
x=eval(test_json)

In [134]:
type(x[0])

dict

In [104]:
`z`a# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'
# parse x:
y = json.loads(x)
# the result is a Python dictionary:
print(y["age"])

30